---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🚧 Blogs 🚧">
  <main>
    <h3>🚧 Blogs 🚧</h3>

    <p>
      There should be some blog posts, but they are still under construction.
      <br />
      Either you can wait until only the first blog is online, or you will just have
      to come at another time.
    </p>
  </main>
</Layout>
