<h3>Projects</h3>

<p>
  Most of my projects are public on my
  <app-link [name]="'GitHub'" [href]="'https://github.com/LetsMelon'" />
  for everyone to see.<br />Some of my selected projects are:
</p>
<ul>
  @for (project of this.projects; track $index) {
  <li>
    <p>
      <b>{{ project.name }}</b>
      <br />
      Languages: {{ project.languages.join(", ") }}
      <br />
      Link:
      <app-link
        *ngIf="project.link !== undefined"
        [name]="'GitHub'"
        [href]="project.link"
      />
      <span *ngIf="project.link === undefined">not public</span>
      <br />
      <span
        [innerHTML]="
          project.description | descriptionLink : project.descriptionLink
        "
      ></span>
    </p>
  </li>
  }
</ul>
