<span>
  JavaScript <img
    class="javascript-lang-icon"
    alt="JavaScript logo"
    src="/js.svg"
  />
</span>

<style>
  .javascript-lang-icon {
    height: 1.1em;
    position: relative;
    top: 0.125em;
    left: 0.125em;

    margin-left: -0.55rem;
    margin-right: -0.55rem;
  }
</style>
