<span class="no-break">
  Java
  <img class="java-lang-icon" alt="Java logo" src="/logos/java.svg" />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .java-lang-icon {
    height: 1.1em;
    position: relative;
    bottom: 0.1em;
    left: 1.05em;

    margin-left: -0.9em;
  }
</style>
