<span class="no-break">
  Rust <img class="rust-lang-icon" alt="Rust logo" src="/logos/ferris.svg" />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .rust-lang-icon {
    height: 1em;
    position: relative;
    left: 1.05em;
    bottom: 0.05em;

    margin-left: -0.95em;
    margin-right: 0.25em;
  }
</style>
