---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Space Mono";
    src: url("/SpaceMono-Regular.ttf"), url("/SpaceMono-Bold.ttf"),
      url("/SpaceMono-BoldItalic.ttf"), url("/SpaceMono-Italic.ttf");
  }

  :root {
    --text: #060605;
    --background: #edede9;
    --primary: #7a7ad6;
    --secondary: #3939b8;
    --accent: #7d2dcd;
  }
  html {
  }

  body {
    background-color: var(--background);
    font-family: "Space Mono";
    color: var(--text);
    width: 100%;
    min-width: 20rem;
    max-width: 65rem;
  }
</style>
