<p>
  I'm a {{ ageInYears }}-year-old student with a passion for coding. Currently,
  I'm pursuing a bachelor's degree in Computer Science at the
  <app-link
    [name]="'Technical University of Vienna'"
    [href]="'https://www.tuwien.at/'"
  />
  in Austria.
</p>

<p>
  Since mid 2020 my main programming language of choice for hobby projects is
  Rust<app-ferris />, but I have also experience in JavaScript, Python, Java and
  some other programming languages.
</p>

<p>My work history:</p>
<ul>
  @for (work of this.workHistory; track $index) {
  <app-list-item [workHistory]="work" />
  }
</ul>

<p>
  Most of my projects are public on my
  <app-link [name]="'GitHub'" [href]="'https://github.com/LetsMelon'" />
  for everyone to see.<br />Some of my selected projects are:
</p>
<ul>
  @for (project of this.projects; track $index) {
  <li>
    <p>
      <b>{{ project.name }}</b>
      <br />
      Languages: {{ project.languages.join(", ") }}
      <br />
      Link:
      <app-link
        *ngIf="project.link !== undefined"
        [name]="'GitHub'"
        [href]="project.link"
      />
      <span *ngIf="project.link === undefined">not public</span>
      <br />
      {{ project.description }}
    </p>
  </li>
  }
</ul>
