<h3>Hi, my name is <b>Domenic Melcher</b>!</h3>

<p>
  I'm a {{ ageInYears }}-year-old student with a passion for coding. Currently,
  I'm pursuing a bachelor's degree in Computer Science at the
  <app-link
    [name]="'Technical University of Vienna'"
    [href]="'https://www.tuwien.at/'"
  />
  in Austria.
</p>

<p>
  Since mid 2020 my main programming language of choice for hobby projects is
  Rust<app-ferris />, but I have also experience in JavaScript, Python, Java and
  some other programming languages.
</p>

<p>My work history:</p>
<ul>
  @for (work of this.workHistory; track $index) {
  <app-list-item [workHistory]="work" />
  }
</ul>

<p>
  You can see some of my projects at
  <a routerLink="/projects" routerLinkActive="active">/projects</a>.
</p>
