<span class="no-break">
  Docker
  <img class="docker-lang-icon" alt="Docker logo" src="/logos/docker.svg" />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .docker-lang-icon {
    height: 1.4em;
    position: relative;
    bottom: 0.05em;
    left: 1.05em;

    margin-left: -0.9em;
    margin-right: 0.3em;
  }
</style>
