<span class="no-break">
  Groovy
  <img class="groovy-lang-icon" alt="Groovy logo" src="/logos/groovy.svg" />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .groovy-lang-icon {
    height: 1.2em;
    position: relative;
    bottom: 0.1em;
    left: 1.05em;

    margin-left: -0.9em;
    margin-right: 0.15em;
  }
</style>
