<span class="no-break">
  JavaScript <img
    class="javascript-lang-icon"
    alt="JavaScript logo"
    src="/logos/js.svg"
  />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .javascript-lang-icon {
    height: 1em;
    position: relative;
    left: 1.05em;
    bottom: 0.075em;

    margin-left: -0.92em;
    margin-right: 0.35em;
  }
</style>
