<span class="no-break">
  Python <img
    class="python-lang-icon"
    alt="Python logo"
    src="/logos/python.svg"
  />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .python-lang-icon {
    height: 1.1em;
    position: relative;
    left: 1.05em;

    margin-left: -0.92em;
    margin-right: 0.25em;
  }
</style>
