<span class="no-break">
  Redis <img class="redis-lang-icon" alt="Redis logo" src="/logos/redis.svg" />
</span>

<style>
  .no-break {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
  }

  .redis-lang-icon {
    height: 1.05em;
    position: relative;
    left: 1.05em;

    margin-left: -0.92em;
    margin-right: 0.35em;
  }
</style>
