<span>
  <img class="rust-lang-icon" alt="Rust logo" src="/ferris.svg" />
</span>

<style>
  .rust-lang-icon {
    height: 1em;
    position: relative;
    top: 0.125em;
    left: 0.125em;

    margin-left: -0.55rem;
    margin-right: -0.55rem;
  }
</style>
