---
import ExternalLink from "./ExternalLink.astro";
import Separator from "./Separator.astro";

const obfuscateEmail = (email: String) => {
  const mappings = Object.freeze({
    ".": "dot",
    "@": "at",
  });

  const fct = (raw: String) => `(${raw})`;

  Object.entries(mappings).forEach(([key, value]) => {
    email = email.replaceAll(key, fct(value));
  });

  return email;
};
---

<footer>
  <Separator />

  <div>
    <h3>Contact Me</h3>

    <p>
      I am open to new job opportunities and collaborations. If you have a
      project or a job opening that you think I would be a good fit for,
      especially in Rust programming, please feel free to reach out to me. You
      can contact me via: <i>{obfuscateEmail("domi.m@outlook.com")}</i>, <ExternalLink
        link="https://github.com/LetsMelon"
        name="GitHub"
      /> or
      <ExternalLink
        link="https://www.linkedin.com/in/domenic-melcher/"
        name="LinkedIn"
      />.
    </p>
  </div>

  <address>
    Created by Domenic Melcher with the help of <ExternalLink
      link="https://astro.build/"
      name="Astro"
    />.
  </address>
</footer>
